body{
    background: linear-gradient(60deg, #000000, #460000, #000000 );
}

h1{
    letter-spacing: 2px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #890000;
    background: linear-gradient(60deg, #000000, #8b000029, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 5px;
}

nav{
    background: radial-gradient(#8b000043, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
}

ul{
    font-size: 30px;
}

ul.Lista_Paragrafo > li{
    color: #f5dcdcdc;
    list-style-type: circle;
    font-size: 20px;
}

ul.Guia_Pagina li{
    color: #8b0000;
    list-style-type: circle;
    font-size: 20px;
}

ul.Guia_Pagina li:hover{
    color: #ffebcd;
}

article{
    background: radial-gradient(#8b000043, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 15px
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffebcd;
}

.Paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    color: #f5dcdcdc;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #8b0000;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #8b0000;
    text-decoration: none;
}

a:hover{
    color: #ffebcd;
    text-decoration: underline;
}