body{
    background: linear-gradient(60deg, #000000, #460000, #000000 );
}

h1{
    letter-spacing: 2px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #890000;
    background: linear-gradient(60deg, #000000, #8b000029, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 5px;
}

nav{
    background: radial-gradient(#8b000043, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
}

ul{
    font-size: 30px;
}

li{
    list-style-type: circle;
    font-size: 20px;
}

li > a{
    color: #8b0000;
}

article{
    background: radial-gradient(#8b000043, #000000 );
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 15px
}

h2{
    color: #ffebcd;
}

h3{
    color: #f5dcdcdc;
}

h4{
    color: #8b0000;
}

a{
    color: #8b0000;
}